@model IEnumerable<Ropey_DvDs_Group_CW.Models.StudioModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Studio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudioName)
            </td>
            <td>
                <a class="btn btn-primary-edit" asp-action="Edit" asp-route-id="@item.StudioNumber">Edit</a> |
                <a class="btn btn-primary-details" asp-action="Details" asp-route-id="@item.StudioNumber">Details</a> |
                <a class="btn btn-primary-delete" asp-action="Delete" asp-route-id="@item.StudioNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
