@model Ropey_DvDs_Group_CW.Models.LoanTypeModel

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-center">Are you sure you want to delete this Loan Type?</h3>

    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
    
<h4>Delete Loan Type</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.LoanType)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.LoanDuration)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.LoanDuration)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoanTypeNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        
    </form>
</div>
<a asp-action="Index">Back to List</a>