@model Ropey_DvDs_Group_CW.Models.LoanTypeModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoanTypeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoanTypeNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
