
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

body {
  background-color: #d2cac4;
}

.page {
  height: 90%;
  width: 90%;
  position: absolute;
  background-color: #f1f4e3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #cecece;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Red Hat Mono", monospace;
}

a img {
  height: 2.3rem;
  margin: 10px 0 0 50px;
}

.navbar {
  width: 100%;
  height: 10%;
  position: sticky;
  background-color: white;
}

.navbar ul {
  display: flex;
  float: right;
  list-style-type: none;
  text-decoration: none;
  margin: 15px 15px;
}

.navbar ul li {
  padding: 0 15px 0 15px;
}

.right {
  background-color: #e38931;
  position: absolute;
  width: 55%;
  height: 90%;
  left: 45%;
  border-radius: 100% 0 0 0;
}

h1 {
  font-family: "Red Hat Mono", monospace;
  color: #534935;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-10%, -40%);
  width: 350px;
  font-size: 3rem;
}

p {
  font-family: "Red Hat Mono", monospace;
  color: #534935;
  position: absolute;
  top: 58%;
  left: 7%;
  transform: translate(-7%, -58%);
  font-size: 12px;
}

button {
  position: absolute;
  top: 65%;
  left: 5%;
  transform: translate(-5%, -65%);
  border-radius: 15px;
  background-color: #e38931;
  width: 125px;
  height: 35px;
  color: white;
  border-style: none;
}

button:hover {
  box-shadow: 0 5px 15px #e38931;
  cursor: pointer;
}

.right img {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 20rem;
  transform: translate(-5%, -5%);
  transform: rotate(-20deg);
}

.right ul {
  display: flex;
  float: right;
  list-style-type: none;
  text-decoration: none;
  margin: 15px 15px;
  top: 50%;
  left: 60%;
  position: absolute;
  transform: rotate(-90deg);
}

.right ul li {
  margin: 8px;
  color: white;
  font-family: "Red Hat Mono", monospace;
  transform: uppercase;
  font-size: 10px;
}</style>
</head>
<body>
    <div class="container">
  <div class="page">
    <nav class="navbar">
      <a href="" class="brand"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F8%2F84%2FApple_Computer_Logo_rainbow.svg%2F1200px-Apple_Computer_Logo_rainbow.svg.png&f=1&nofb=1" alt=""></a>
      <ul>
      <li>
        <a href="">Hello</a>
        </li>
      <li>
        <a href="">Course</a>
      </li>
      <li>
        <a href="">Work</a>
        </li>
      </ul>
    </nav>
    <div class="left">
      <h1>Take home a Macintosh.</h1>
      <p>Apple's remarkable new personal computer</p>
      <button>See it in action</button>
      
    </div>
    <div class="right">
      <div class="img"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsebastien-compagne.fr%2Fwebsite%2Fzpg%2Farcheologeek%2F1990_-_apple_mac_classic_II.png&f=1&nofb=1">
      </div>
      <ul>
        <li>Instagram</li>
        <li>-</li>
        <li>Facebook</li>
        <li>-</li>
        <li>Twitter</li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
