@model Ropey_DvDs_Group_CW.Models.UserLoginModel

@{
    ViewData["Title"] = "Login";
}




<div class="row">
    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
        <h1 class="text-center">Login</h1>
            <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 <div>
    <a asp-action="Index">Back to List</a>
</div> 

