@model Ropey_DvDs_Group_CW.Models.DVDCategoryModel

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-center">Are you sure you want to delete this DVD Category?</h3>
<div class="col-md-4 mx-auto card mt-5 p-5">
   
    <h1>Delete</h1>
        <hr />
    <dl class="row">
        <dt class = "col-sm-7">
            Category Description
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
        <dt class = "col-sm-7">
            Age Restricted
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.AgeRestricted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
 
    </form>
</div>
       <a asp-action="Index">Back to List</a>