@model Ropey_DvDs_Group_CW.Models.DVDCategoryModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>DVD Category Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Category Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
        <dt class = "col-sm-2">
            Age Restricted Check
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeRestricted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
