@model Ropey_DvDs_Group_CW.Models.LoanModel

@{
    ViewData["Title"] = "Edit";
}



<hr />
<div class="row">
    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
        <h4>Edit Loan</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoanNumber" />
            <div class="form-group">
                <label asp-for="LoanTypeNumber" class="control-label">Loan Type</label>
                <select readonly asp-for="LoanTypeNumber" class="form-control" asp-items="ViewBag.LoanTypeNumber"></select>
                <span asp-validation-for="LoanTypeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyNumber" class="control-label">Copy</label>
                <select readonly asp-for="CopyNumber" class="form-control" asp-items="ViewBag.CopyNumber"></select>
                <span asp-validation-for="CopyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberNumber" class="control-label">Member Name</label>
                <select readonly asp-for="MemberNumber" class="form-control" asp-items="ViewBag.MemberNumber"></select>
                <span asp-validation-for="MemberNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOut" class="control-label"> Date Out</label>
                <input asp-for="DateOut" class="form-control" readonly/>
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDue" class="control-label">Date Due</label>
                <input asp-for="DateDue" class="form-control" readonly/>
                <span asp-validation-for="DateDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReturned" class="control-label">Date Returned</label>
                <input asp-for="DateReturned" class="form-control" />
                <span asp-validation-for="DateReturned" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
