@{
    ViewData["Title"] = "Home Page";
}
<!-- Background image -->
<div class="home">
<div class="home-titles text-white text-center">
   <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src = "~/img/ropey.png"/>
                </a>
  <h3>Buy all of your favourite DVDs <br/> from a store of your choice <br/> All in One Place</h3>
  <div class="form-group mt-3">
      <a class="btn btn-primary" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
             
</div>
</div>


