@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper d-flex flex-column align-items-center justify-content-center" style="width: 100%; height: 80vh;">
    <div class="text-center container" style="background: #ffffff; box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; padding:30px;">
    <h1 class="display-4 font-weight-bold">Welcome to Ropey DvDs</h1>
     <p class="display-6">A store where you can rent your favourite DVDs</p>
</div>
</div>

