html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #00b0b121;
    color: #023b3b;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #00b0b1 !important;
}

.nav-link {
    color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.btn-primary {
    background-color: #00b0b1;
    border-color: #00b0b1;
}

    .btn-primary:hover {
        background-color: white;
        border-color: #00b0b1;
        color: #00b0b1;
    }
.btn-primary-edit {
    background-color: #0073b1;
    border-color: #0073b1;
    color:white;
}

    .btn-primary-edit:hover {
        background-color: white;
        border-color: ##0073b1;
        color: #0073b1;
}
.btn-primary-delete {
    background-color: #b10000;
    border-color: #b10000;
    color: white;
}

    .btn-primary-delete:hover {
        background-color: white;
        border-color: #b10000 ;
        color: #b10000;
}
.btn-primary-details {
    background-color: #36b2b3;
    border-color: #36b2b3;
    color: white;
}

    .btn-primary-details:hover {
        background-color: white;
        border-color: #36b2b3;
        color: #36b2b3;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #00b0b1;
    border-color: #00b0b1;
    /**/