@model Ropey_DvDs_Group_CW.Models.CastMemberModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>CastMember Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            DVD Title
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDTitleModel.DVDTitle)
        </dd>
        <dt class = "col-sm-2">
            Actor Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActorModel.ActorFirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
