@model Ropey_DvDs_Group_CW.Models.CastMemberModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Cast Member</h1>

<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">DVD Title</label>
                <select asp-for="DVDNumber" class="form-control" asp-items="ViewBag.DVDNumber"></select>
                <span asp-validation-for="DVDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Actor Name</label>
                <select asp-for="ActorNumber" class="form-control" asp-items="ViewBag.ActorNumber"></select>
                <span asp-validation-for="ActorNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
