@model Ropey_DvDs_Group_CW.Models.ActorModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-4 mx-auto card mt-5 p-5">
    <h4>Actor Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            First Name
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ActorFirstName)
        </dd>
        <dt class = "col-sm-4">
            Last Name
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ActorSurname)
        </dd>
    </dl>
    <a class="btn btn-primary-edit" asp-action="Edit" asp-route-id="@Model?.ActorNumber">Edit</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
