@model Ropey_DvDs_Group_CW.Models.ActorModel

@{
    ViewData["Title"] = "Edit";
}




<div class="row">
    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
       <h4>Edit Actor</h4>
       <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActorNumber" />
            <div class="form-group">
                <label class="control-label">Actor's First Name</label>
                <input asp-for="ActorFirstName" class="form-control" />
                <span asp-validation-for="ActorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Actor's Surname</label>
                <input asp-for="ActorSurname" class="form-control" />
                <span asp-validation-for="ActorSurname" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
