@*@model Ropey_DvDs_Group_CW.Models.MemberModel*@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberModel</h4>
    <hr />
    <dl class="row">
        @foreach (var item in Model)
        {
            <dt class = "col-sm-2">
                Member Name
            </dt>
            <dd class = "col-sm-10">
               @item.Member
            </dd>
            <dt class = "col-sm-2">
               Loan
            </dt>
            <dd class = "col-sm-10">
               @item.Loan
            </dd>
            <dt class = "col-sm-2">
                DVD Title
            </dt>
            <dd class = "col-sm-10">
               @item.Title
            </dd>
            <dt class = "col-sm-2">
                Copy Number
            </dt>
            <dd class = "col-sm-10">
               @item.CopyNumber
            </dd>
            <hr />
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
