
@{
    ViewData["Title"] = "ShowDVDCopiesofActors";
}

<h1 class="text-center mb-3">Show DVD Copies of Actors</h1>

@if(ViewBag.NoData != null)
{
    <h3>@ViewBag.NoData</h3>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Actor/s
            </th>
            <th>
                Number of Copies on the Shelves
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
           
                <tr>
                    <td>@item.Title</td>
                    <td>@foreach(var value in item.Cast)
                        {
                            <p>@value</p>
                        }
                    </td>
                    <td>
                        @item.NumberOfCopies
                    </td>
                </tr>
            
            
            
        }

       
    </tbody>
</table>
}
