@model Ropey_DvDs_Group_CW.Models.MembershipCategoryModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
        <h1 class="text-center">Create Membership Category</h1>

        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MembershipCategoryDescription" class="control-label"> Membership Category Description</label>
                <input asp-for="MembershipCategoryDescription" class="form-control" />
                <span asp-validation-for="MembershipCategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipCategoryTotalLoan" class="control-label"> Membership Category Total Loan</label>
                <input asp-for="MembershipCategoryTotalLoan" class="form-control" />
                <span asp-validation-for="MembershipCategoryTotalLoan" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
