@model Ropey_DvDs_Group_CW.Models.DVDCopyModel

@{
    ViewData["Title"] = "Create";
}



<h4 class="text-center">DVD Copy</h4>

<div class="row">
    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
        <h1 class="text-center">Create</h1>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DVDNumber" class="control-label">DVD Title</label>
                <select asp-for="DVDNumber" class ="form-control" asp-items="ViewBag.DVDNumber"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatePurchased" class="control-label"></label>
                <input asp-for="DatePurchased" class="form-control" />
                <span asp-validation-for="DatePurchased" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
