@model Ropey_DvDs_Group_CW.Models.ViewModels.UpdateUserDetails
@{
    ViewData["Title"] = "DeleteUser";
}





<h3 class="text-center">Are you sure you want to delete this User?</h3>
<div class="col-md-4 mx-auto card mt-5 p-5">
    <h4 class="text-center">Delete User</h4>
    <hr />
    <dl class="row mx-auto">
        <dt class = "col-sm-7">
            UserName
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-7">
            Email
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
