@model Ropey_DvDs_Group_CW.Models.ViewModels.UpdateUserDetails
@{
    ViewData["Title"] = "EditUser";
}




<div class="row">
    <div class="col-md-4 mx-auto card mt-5 pt-4 p-5">
        <h4 class="text-center">Edit User</h4>
<hr />
        <form asp-action="UpdateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control" value="@ViewBag.Username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" value="@ViewBag.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Current Password</label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
                  <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

