@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}
@if (User.IsInRole("Manager"))
{
    <a class="text-danger" asp-area="" asp-controller="User" asp-action="ViewUsers">
        <button class="btn btn-primary">View Users</button>
    </a>
    
}
<a class="text-danger" asp-area="" asp-controller="User" asp-action="PasswordChange">
    <button class="btn btn-primary">Change Password</button>
</a>